p {
    line-height: 1.33em;
    color: #7E7E7E;
}
h1 {
    color: #EEEEEE;
}

#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    font-size: 24px;
    text-align: right;
    padding-bottom: 1em;
    word-spacing: 2em;

}